@layer semi, tailwind;
@import "tailwindcss/preflight";
@tailwind utilities;


@layer base {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #4CAF50;
    --primary-light: #81C784;
    --primary-dark: #388E3C;
  }
}
@theme {
  --animate-blink: {
    animation: blink 1s ease-in-out infinite;
  }
  @keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}




